.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;  
  background-color: #fff; 
  border-bottom: 2px solid #f0f0f0; 
}

.logo {
  width: 10px; 
  height: 10px; 
}

.title {
  font-size: 20px;
  font-weight: bold; 
  color: #FF8E4F;
}