 /* 회원가입 */
  /* 기본 회원가입 폼 스타일 */
  .email-verification-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 원하는 간격을 위해 추가 */
}

.email-verification-container .register-input {
    flex: 1;
    margin-right: 10px;
}

.email-verification-container .register-submit-button {
    padding: 5px 10px;
    font-size: 14px;
    height: 40px; /* 입력 필드와 높이를 맞추기 위해 추가 */
    width: auto; /* 버튼의 폭을 자동으로 조정 */
}

  .phone-verification-container {
    display: flex;
    align-items: center;
}

.phone-verification-container .register-input {
    flex: 1;
    margin-right: 10px;
}

.phone-verification-container .register-submit-button {
    padding: 5px 10px;
    font-size: 14px;
    height: 40px; /* 입력 필드와 높이를 맞추기 위해 추가 */
    width: auto; /* 버튼의 폭을 자동으로 조정 */
}

.phone-verification-container, .code-verification-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 원하는 간격을 위해 추가 */
}

.phone-verification-container .register-input, .code-verification-container .register-input {
    flex: 1;
    margin-right: 10px;
}

.phone-verification-container .register-submit-button, .code-verification-container .register-submit-button {
    padding: 5px 10px;
    font-size: 14px;
    height: 40px; /* 입력 필드와 높이를 맞추기 위해 추가 */
    width: auto; /* 버튼의 폭을 자동으로 조정 */
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.register-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.register-header-button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #979595;
    padding: 0 10px;
}

.register-header-button.active {
    color: hsl(0, 0%, 3%);
}

.register-separator {
    color: #cbd5e0;
    margin: 0 20px;
}

.register-logo {
    width: 50px;
    margin-bottom: 10px;
}

.register-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f55a5a;
    margin-bottom: 20px;
}

.register-form {
    width: 100%;
}

.register-form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f7fafc;
}

.register-input[type="text"],
.register-input[type="date"],
.register-input[type="password"],
.register-input[type="email"] {
    width: calc(100% - 10px);
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #cbd5e0;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #4a5568;
    outline: none;
}

.register-duplicate-check {
    padding: 0.5rem 1rem;
    background-color: #f55a5a;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.875rem;
}

/* Register email verification button style */
.register-email-verification-button {
    padding: 0.5rem 1rem;
    background-color: #f55a5a;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.875rem;
    margin-left: 5px;
}

/* Register code verification button style */
.register-code-verification-button {
    padding: 0.5rem 1rem;
    background-color: #f55a5a;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.875rem;
}

/* Register button style */
.register-submit-button {
    background-color: #f55a5a !important; /* Orange background */
    color: #ffffff; /* White text */
    padding: 0.75rem 1.5rem; /* Padding */
    border-radius: 0.25rem; /* Rounded corners */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    font-size: 1rem; /* Text size */
    font-weight: bold; /* Bold text */
    display: flex; /* Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    gap: 10px; /* Space between icon and text */
    width: 100%; /* Full width */
}

/* Register button icon style */
.register-button-icon {
    width: 20px;
    height: 18px;
}

.register-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}
/* End Register */