.Modal {
  width: 400px; 
  max-width: 90%;
  max-height: 70vh; /* 모달의 최대 높이를 설정 */
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  position: relative;
  overflow: hidden; /* 모달에서 스크롤바가 보이지 않도록 숨김 */
}

.filter-modal-content {
  padding: 15px;
  max-height: calc(70vh - 40px); /* 모달의 padding을 고려한 최대 높이 설정 */
  overflow-y: auto; /* 내부 내용이 넘칠 경우 스크롤 추가 */
}

.filter-modal-content::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* 스크롤바 배경을 투명하게 설정 */
}

.filter-group {
  margin-bottom: 20px;
}
  
.filter-group h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
  
.filter-group button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 15px;
  border: solid 0.5px;
  border-color: #f0f0f0;
  border-radius: 20px;
  background-color: #ffffff;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}
  
.filter-group button.active {
  background-color: #f55a5a;
  color: white;
}
  
.modal-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
  
.modal-footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
  
.modal-footer .close-button {
  background-color: #e0e0e0;
  color: #333;
}
  
.modal-footer .apply-button {
  background-color: #f55a5a;
  color: white;
}
