.SearchResults-fiter {
  width: 30px;
  margin: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.SearchResults-fiter.active-filter {
  background-color: #f55a5a; 
}

.SearchResults-Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.SearchResults-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.SearchResults-::-webkit-scrollbar {
  display: none; 
}

.SearchResults-store-item {
  border-radius: 12px;
  background-color: #fff;
  max-width: 700px;
  cursor: pointer;
}

.SearchResults-store-item-content {
  display: flex;
  align-items: center;
}

.SearchResults-store-item img {
  margin: 15px;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.SearchResults-store-details {
  flex-grow: 1;
}

.SearchResults-store-details h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.SearchResults-store-details p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.SearchResults-store-grade {
  display: flex;
  align-items: center;
}

.SearchResults-store-grade img {
  margin: 5px;
  width: 20px;
  height: 20px;
}

.SearchResults-store-divider {
  width: 435px;
  margin: auto;
  border: none;
  border-top: 1px solid #ddd;
}
