.find-id-container, .find-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  max-width: 700px;
  margin: auto;
}

.Find-logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #7dd7fd;
  font-size: 24px;
  margin-bottom: 20px;
}

.find-id-form, .find-password-form {
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input {
  width: 100%;
  padding: px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-button-find {
  display: block !important; /* 항상 표시되도록 설정 */
  visibility: visible !important; /* 항상 표시되도록 설정 */
  width: 100%;
  background-color: #f55a5a !important;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  z-index: 1; /* 버튼을 다른 요소보다 앞에 배치 */
}

.result, .error {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.result {
  background-color: #e8f5e9;
  color: #388e3c;
}

.error {
  background-color: #ffebee;
  color: #d32f2f;
}

.main-text {
  font-weight: 300;
  font-size: 30px;
}
