.fcm-container {
    display: flex;
    align-items: center; 
}

.FCM-set {
    background: none;
    border: none;
    text-align: left;
    padding: 10px 20px;
    /* padding-right: 0px; */
    width: 82%;
    font-size: 16px;
    position: relative;
}

.token-status {
    margin-left: 10px; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* padding-right: 20px; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ButtonClickFCM-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.ButtonClickFCM-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* 체크된 상태에서의 스타일 */
input:checked + .slider {
    background-color: #f55a5a;
}

/* 체크된 상태에서 슬라이더 원형 이동 */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* 원형 슬라이더 스타일 */
.ButtonClickFCM-slider.round {
    border-radius: 34px;
}
.ButtonClickFCM-slider.round:before {
    border-radius: 50%;
}
