.roulette-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 섹션 전체 너비 설정 */
}

.roulette-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* 룰렛을 감싸는 컨테이너의 너비를 100%로 설정 */
}

.roulette-buttons-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* 버튼과 룰렛 사이의 간격을 확보 */
    width: 100%;
}

.h1-event {
    color: #000;
}

.h3 .event-h3 {
    
}

.orange-button {
    padding: 10px 0;
    background-color: f55a5a;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    width: calc(100% - 10px); /* 버튼이 너비에 꽉 차도록 설정 */
    text-align: center;
}

