.AskComponent-container {
  text-align: center;
  padding: 20px;
}

.AskComponent-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.AskComponent-tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px; /* 문의하기와 내 문의내역 탭의 아래 여백을 없앱니다. */
}

.AskComponent-tab {
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}

.AskComponent-tab:last-child {
  margin-right: 0;
}

.AskComponent-underline-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* 하단 여백 */
}

.AskComponent-underline {
  width: 100px; /* 선의 길이 */
  height: 2px;
  background-color: #e0e0e0;
  margin-right: 20px;
}

.AskComponent-underline:last-child {
  margin-right: 0;
}

.AskComponent-active-underline {
  background-color: black; /* 활성화된 탭의 밑줄 색상 */
}

.AskComponent-content-container {
  min-height: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.AskComponent-inquiry-button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  
  /* 고정 위치 설정 */
  position: fixed;
  bottom: 80px; /* 화면 하단에서 20px 위에 고정 */
  left: 50%; /* 버튼을 화면 중앙에 위치시키기 위해 left를 50%로 설정 */
  transform: translateX(-50%); /* 정확하게 중앙 정렬을 위해 transform 사용 */
  z-index: 1000; /* 다른 요소들 위에 위치하게 설정 */
}

.AskComponent-inquiry-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.password-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.password-modal-content h3 {
  margin-bottom: 20px;
}

.password-modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-modal-content button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-modal-content button:hover {
  background-color: #0056b3;
}
